@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Welcome</h1>
            </div>
            <partial name="_SearchForm" />
            <div class="row justify-content-center">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="text-center mb-4">THESE ARE OUR CARS</h3>

                        <div class="row">
                            @foreach (var car in Model.Cars)
                            {
                                <div class="col-md-4 mb-3">
                                    <partial name="_CarCard" model="car" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </div>
</div>

<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace();
</script>
