@model CarListViewModel

<div class="container-fluid">
    <div class="row justify-content-center">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
            <div class="row justify-content-center">
                <div class="card shadow-sm pt-3 mt-3">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Here you will find all our Cars</h2>
                        <hr />
                        <div class="row">
                            @foreach (var car in Model.Cars)
                            {
                                <div class="col-md-4 mb-3">
                                    <partial name="_CarCard" model="car" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script src="https://unpkg.com/feather-icons"></script>
<script>
    feather.replace();
</script>