@model ReservationListViewModel

<div class="container-fluid">
    <div class="row justify-content-center">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 px-md-4">
            <div class="row justify-content-center">
                <div class="card shadow-sm pt-3 mt-3">
                    <div class="card-body">
                        <h2 class="text-center mb-4">These are all the reservations (assuming Manager Role)</h2>
                        <hr />
                        <div class="row">
                            @foreach (var reservation in Model.Reservations)
                            {
                                <partial name="_ReservationCard" model="reservation" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>